<div>
    <h1 class="mat-headline-6">natural-table-button</h1>
    <div class="mat-body">
        <natural-table-button
            *ngFor="let conf of configurations"
            [label]="conf.label"
            [icon]="conf.icon"
            [href]="conf.href"
            [navigate]="conf.navigate"
            [queryParams]="conf.queryParams"
            [queryParamsHandling]="conf.queryParamsHandling"
            [fragment]="conf.fragment"
            [preserveFragment]="conf.preserveFragment"
            [color]="conf.color"
        ></natural-table-button>

        <natural-table-button
            *ngFor="let conf of configurationsWithClick"
            [label]="conf.label"
            [icon]="conf.icon"
            [color]="conf.color"
            (buttonClick)="log($event)"
        ></natural-table-button>
    </div>

    <h1 class="mat-headline-6">HTTP Prefix</h1>
    <div fxLayout="row" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <mat-label>formControl</mat-label>
                <input matInput [naturalHttpPrefix]="httpPrefixControl" [formControl]="httpPrefixControl" />
            </mat-form-field>
            <pre class="debug">
touched: {{ httpPrefixControl.touched | json }}
dirty: {{ httpPrefixControl.dirty | json }}
status: {{ httpPrefixControl.status | json }}
errors: {{ httpPrefixControl.errors | json }}
value: {{ httpPrefixControl.value | json }}
            </pre>
        </div>

        <div [formGroup]="httpPrefixGroup">
            <mat-form-field>
                <mat-label>formGroup</mat-label>
                <input matInput [naturalHttpPrefix]="httpPrefixGroup.get('prefix')" formControlName="prefix" />
            </mat-form-field>
            <pre class="debug">
touched: {{ httpPrefixGroup.touched | json }}
dirty: {{ httpPrefixGroup.dirty | json }}
status: {{ httpPrefixGroup.status | json }}
errors: {{ httpPrefixGroup.get('prefix')?.errors | json }}
value: {{ httpPrefixGroup.value | json }}
            </pre>
        </div>
    </div>

    <br />
    <br />
    <br />
    <h1 class="mat-headline-6">Icons</h1>
    <div class="mat-body icons">
        <span>Native font mat-icon</span>
        <mat-icon fontIcon="search"></mat-icon>
        <span>Font naturalIcon</span>
        <mat-icon naturalIcon="search" [size]="35"></mat-icon>
        <mat-icon naturalIcon="search"></mat-icon>
        <mat-icon naturalIcon="search" [size]="null"></mat-icon>
        <mat-icon naturalIcon="search" [size]="undefined"></mat-icon>
        <mat-icon naturalIcon="search" [size]="24"></mat-icon>
        <span>SVG naturalIcon</span>
        <mat-icon naturalIcon="natural" [size]="35"></mat-icon>
        <mat-icon naturalIcon="github" [size]="150"></mat-icon>
    </div>
    <div class="mat-body icons">
        <button
            mat-raised-button
            color="accent"
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <mat-icon>search</mat-icon>
            Button with native mat-icon
        </button>

        <button
            mat-raised-button
            color="accent"
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <mat-icon naturalIcon="search"></mat-icon>
            Button with naturalIcon
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span>Option mat-icon</span>
            </button>
            <button mat-menu-item>
                <mat-icon naturalIcon="search"></mat-icon>
                <span>Option mat-icon</span>
            </button>
        </mat-menu>

        <mat-form-field>
            <mat-label>Test mat-icon</mat-label>
            <input matInput />
            <mat-icon matIconPrefix>language</mat-icon>
            <mat-datepicker-toggle matIconSuffix></mat-datepicker-toggle>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Test naturalIcon</mat-label>
            <input matInput />
            <mat-icon matIconPrefix naturalIcon="language"></mat-icon>
            <mat-datepicker-toggle matIconSuffix></mat-datepicker-toggle>
        </mat-form-field>
    </div>

    <br />
    <br />
    <br />
    <h1 class="mat-headline-6">Dialog trigger</h1>
    <button mat-flat-button color="primary" routerLink="dialog">Open dialog</button>

    <br />
    <br />
    <br />
    <br />

    <h1 class="mat-headline-6">Error handler</h1>
    <button mat-flat-button color="primary" (click)="error()">Throw error !</button>
    <button mat-flat-button color="primary" (click)="error2()">httpClient error !</button>
    <button mat-flat-button color="primary" (click)="error3()">fetch error !</button>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div matRipple style="padding: 20px; border: 1px solid cyan">custom ripple</div>
</div>

<router-outlet></router-outlet>
