<div>
    <h1 class="mat-title">HTTP Prefix</h1>
    <div fxLayout="row" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <mat-label>formControl</mat-label>
                <input matInput [naturalHttpPrefix]="httpPrefixControl" [formControl]="httpPrefixControl" />
            </mat-form-field>
            <pre class="debug">
touched: {{ httpPrefixControl.touched | json }}
                dirty: {{ httpPrefixControl.dirty | json }}
                status: {{ httpPrefixControl.status | json }}
                errors: {{ httpPrefixControl.errors | json }}
                value: {{ httpPrefixControl.value | json }}
            </pre>
        </div>

        <div [formGroup]="httpPrefixGroup">
            <mat-form-field>
                <mat-label>formGroup</mat-label>
                <input matInput [naturalHttpPrefix]="httpPrefixGroup.get('prefix')" formControlName="prefix" />
            </mat-form-field>
            <pre class="debug">
touched: {{ httpPrefixGroup.touched | json }}
                dirty: {{ httpPrefixGroup.dirty | json }}
                status: {{ httpPrefixGroup.status | json }}
                errors: {{ httpPrefixGroup.get('prefix')?.errors | json }}
                value: {{ httpPrefixGroup.value | json }}
            </pre>
        </div>
    </div>

    <br />
    <br />
    <br />
    <h1 class="mat-title">Icons</h1>
    <div class="mat-body">
        Material icon
        <natural-icon name="search" [size]="35"></natural-icon>
        SVG icon
        <natural-icon name="natural" [size]="35"></natural-icon>
        <natural-icon name="github" [size]="35"></natural-icon>

        <button
            mat-raised-button
            color="accent"
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <natural-icon name="search"></natural-icon>
            Show icons
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <natural-icon name="search"></natural-icon>
                Option
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span>Option</span>
            </button>
            <button mat-menu-item>
                <natural-icon name="search"></natural-icon>
                <span>Option</span>
            </button>
        </mat-menu>
    </div>

    <br />
    <br />
    <br />
    <h1 class="mat-title">Dialog trigger</h1>
    <button mat-flat-button color="primary" routerLink="dialog">Open dialog</button>
</div>

<router-outlet></router-outlet>
