<h1 class="mat-headline-4">natural-select-enum</h1>

<div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row wrap" fxLayoutGap="10px">
        <button mat-raised-button (click)="validateAllFormControls()">Validate all controls</button>
        <button mat-raised-button (click)="toggleDisabledAllFormControls()">Disable all controls</button>
        <button mat-raised-button (click)="setValue()">Set value</button>
        <button mat-raised-button (click)="clearValue()">Clear value</button>
    </div>

    <h2 class="mat-h2" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div>ngModel</div>
        <button mat-raised-button (click)="required = true">required</button>
        <button mat-raised-button (click)="required = false">optional</button>
    </h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <natural-select-enum
                enumName="FooEnum"
                placeholder="Without model (output only)"
                (selectionChange)="withoutModelOutput = $event"
            ></natural-select-enum>
            <pre class="debug">value: {{ withoutModelOutput | json }}</pre>
        </div>

        <natural-select-enum
            enumName="FooEnum"
            [ngModel]="withoutModelOutput"
            placeholder="Input from previous output"
        ></natural-select-enum>

        <natural-select-enum
            enumName="FooEnum"
            [required]="required"
            placeholder="Without model, required"
        ></natural-select-enum>

        <div>
            <natural-select-enum
                enumName="FooEnum"
                [(ngModel)]="myValue"
                [required]="required"
                [disabled]="disabled"
                placeholder="With model, required"
            ></natural-select-enum>

            <pre class="debug">value: {{ myValue | json }}</pre>
        </div>
    </div>

    <h2 class="mat-h2">FormControl</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <natural-select-enum
                enumName="FooEnum"
                [formControl]="formControl"
                placeholder="FormControl (update)"
            ></natural-select-enum>
            <pre class="debug">
touched: {{ formControl.touched | json }}
dirty: {{ formControl.dirty | json }}
status: {{ formControl.status | json }}
errors: {{ formControl.errors | json }}
value: {{ formControl.value | json }}
            </pre>
        </div>

        <div>
            <natural-select-enum
                enumName="FooEnum"
                [formControl]="formControlReplace"
                placeholder="FormControl (replace)"
            ></natural-select-enum>
            <pre class="debug">
touched: {{ formControlReplace.touched | json }}
dirty: {{ formControlReplace.dirty | json }}
status: {{ formControlReplace.status | json }}
errors: {{ formControlReplace.errors | json }}
value: {{ formControlReplace.value | json }}
            </pre>
        </div>
    </div>

    <h2 class="mat-h2">FormGroup</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <div [formGroup]="formGroup" class="form-group">
                <natural-select-enum
                    enumName="FooEnum"
                    formControlName="amazingField"
                    placeholder="FormGroup (update)"
                ></natural-select-enum>
            </div>
            <pre class="debug">
touched: {{ formGroup.touched | json }}
dirty: {{ formGroup.dirty | json }}
status: {{ formGroup.status | json }}
value: {{ formGroup.value | json }}
            </pre>
        </div>
        <div>
            <div [formGroup]="formGroupReplace" class="form-group">
                <natural-select-enum
                    enumName="FooEnum"
                    formControlName="amazingField"
                    placeholder="FormGroup (replace)"
                ></natural-select-enum>
            </div>

            <pre class="debug">
touched: {{ formGroupReplace.touched | json }}
dirty: {{ formGroupReplace.dirty | json }}
status: {{ formGroupReplace.status | json }}
value: {{ formGroupReplace.value | json }}
            </pre>
        </div>
    </div>

    <h2 class="mat-h2">Others</h2>
    <natural-select-enum
        placeholder="Disabled option with formControl"
        [formControl]="formControl"
        [optionDisabled]="optionDisabled"
    ></natural-select-enum>

    <natural-select-enum
        placeholder="Multiple options with formControlMultiple"
        [formControl]="formControlMultiple"
        [multiple]="true"
    ></natural-select-enum>

    <pre class="debug">
touched: {{ formControlMultiple.touched | json }}
dirty: {{ formControlMultiple.dirty | json }}
status: {{ formControlMultiple.status | json }}
errors: {{ formControlMultiple.errors | json }}
value: {{ formControlMultiple.value | json }}
</pre
    >
</div>
