<h1 class="mat-display-1">natural-relations</h1>
<div class="mat-body-1">Use AnyService.watchAll() that always returns 5 elements. Seems to be buggy but it's normal.</div>

<div [formGroup]="form" fxLayout="row" fxLayoutGap="50px">
    <div>
        <div class="mat-title">Hierarchic selector</div>

        <natural-relations
            (selectionChange)="changed('Hierarchic selector')"
            [hierarchicSelectorConfig]="hierarchicConfig"
            [main]="data.model"
            [service]="service"
            placeholder="Link"
        ></natural-relations>
    </div>

    <div>
        <div class="mat-title">Service</div>

        <natural-relations
            (selectionChange)="changed('Service')"
            [main]="data.model"
            [service]="service"
            placeholder="Link"
        ></natural-relations>
    </div>
</div>
