:host {
    & > div {
        display: grid;
        grid-template-columns: min-content auto auto;
        grid-gap: 30px;

        .mat-title {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        natural-relations {
            padding: 20px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }
    }
}
