<h1 class="mat-display-1">natural-select</h1>

<div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row wrap" fxLayoutGap="10px">
        <button mat-raised-button (click)="validateAllFormControls()">Validate controls with formControl</button>
        <button mat-raised-button (click)="toggleDisabledAllFormControls()">Disable controls with formControl</button>
        <button mat-raised-button (click)="setValue()">Set value</button>
        <button mat-raised-button (click)="clearValue()">Clear value</button>
    </div>

    <h2 class="mat-h2" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div>ngModel</div>
        <button mat-raised-button (click)="required = true">required</button>
        <button mat-raised-button (click)="required = false">optional</button>
    </h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <natural-select
                [service]="service"
                placeholder="Without model (output only)"
                (selectionChange)="withoutModelOutput = $event"
            ></natural-select>
            <pre class="debug">value: {{ withoutModelOutput | json }}</pre>
        </div>

        <natural-select
            [service]="service"
            [ngModel]="withoutModelOutput"
            placeholder="Input from previous output"
        ></natural-select>

        <natural-select
            [service]="service"
            [required]="required"
            placeholder="Without model, required"
        ></natural-select>

        <div>
            <natural-select
                [service]="service"
                [(ngModel)]="myValue"
                [required]="required"
                [disabled]="disabled"
                placeholder="With model, required"
            ></natural-select>
            <pre class="debug">value: {{ myValue | json }}</pre>
        </div>
    </div>

    <h2 class="mat-h2">FormControl</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <natural-select
                [service]="service"
                [formControl]="formControl"
                placeholder="FormControl (update)"
            ></natural-select>
            <button mat-raised-button (click)="updateValidatorRequired(formControl)">required</button>
            <button mat-raised-button (click)="updateValidatorOptional(formControl)">optional</button>
            <pre class="debug">
touched: {{ formControl.touched | json }}
dirty: {{ formControl.dirty | json }}
status: {{ formControl.status | json }}
errors: {{ formControl.errors | json }}
value: {{ formControl.value | json }}
            </pre>
        </div>

        <div>
            <natural-select
                [service]="service"
                [formControl]="formControlReplace"
                placeholder="FormControl (replace)"
            ></natural-select>
            <pre class="debug">
touched: {{ formControlReplace.touched | json }}
dirty: {{ formControlReplace.dirty | json }}
status: {{ formControlReplace.status | json }}
errors: {{ formControlReplace.errors | json }}
value: {{ formControlReplace.value | json }}
            </pre>
        </div>
    </div>

    <h2 class="mat-h2">FormGroup</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <div [formGroup]="formGroup" class="form-group">
                <natural-select
                    [service]="service"
                    formControlName="amazingField"
                    placeholder="FormGroup (update)"
                ></natural-select>
            </div>
            <button mat-raised-button (click)="updateValidatorRequired(formGroup.get('amazingField')!)"
                >required</button
            >
            <button mat-raised-button (click)="updateValidatorOptional(formGroup.get('amazingField')!)"
                >optional</button
            >
            <pre class="debug">
touched: {{ formGroup.touched | json }}
dirty: {{ formGroup.dirty | json }}
status: {{ formGroup.status | json }}
value: {{ formGroup.value | json }}
            </pre>
        </div>
        <div>
            <div [formGroup]="formGroupReplace" class="form-group">
                <natural-select
                    [service]="service"
                    formControlName="amazingField"
                    placeholder="FormGroup (replace)"
                ></natural-select>
            </div>

            <pre class="debug">
touched: {{ formGroupReplace.touched | json }}
dirty: {{ formGroupReplace.dirty | json }}
status: {{ formGroupReplace.status | json }}
value: {{ formGroupReplace.value | json }}
            </pre>
        </div>
    </div>

    <h2 class="mat-h2">Others</h2>

    <div fxLayout="row wrap" fxLayoutGap="10px">
        <mat-form-field>
            <mat-label>Prétext</mat-label>
            <input matInput />
            <mat-hint>Basic input field to test alt+tab and focus on next field</mat-hint>
        </mat-form-field>

        <natural-select [service]="service" navigateTo="/" placeholder="With navigateTo"></natural-select>

        <natural-select [service]="service" [showIcon]="false" placeholder="Without icon"></natural-select>

        <natural-select [service]="service" icon="pets" placeholder="With custom icon"></natural-select>

        <natural-select
            [service]="service"
            clearLabel="Clear selected item"
            placeholder="With clear label"
        ></natural-select>

        <natural-select [service]="errorService" placeholder="With service throwing error"></natural-select>

        <natural-select [service]="service" placeholder="Custom item template">
            <ng-template let-item="item">
                <natural-icon name="pets"></natural-icon>
                <span>Hello {{ item.name }} !</span>
            </ng-template>
        </natural-select>

        <div>
            <natural-select
                [service]="service"
                [(ngModel)]="freeText"
                [optionRequired]="false"
                placeholder="Free text allowed"
            ></natural-select>
            <pre class="debug">freeText: {{ freeText }}</pre>
        </div>
    </div>
</div>
