<div fxLayout="column">
    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>

    <div fxFlex fxLayout="row" fxLayoutGap="50px">
        <div fxFlex fxLayout="column" fxLayoutGap="50px">
            <natural-editor [(ngModel)]="htmlStringBasic" [disabled]="disabled"></natural-editor>

            <div>
                <h1 class="mat-headline-4 margin-bottom">Preview</h1>
                <div [innerHTML]="htmlStringBasic" class="preview">&nbsp;</div>
            </div>

            <div>
                <h1 class="mat-headline-4 margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringBasic }}</p>
            </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutGap="50px">
            <natural-editor
                [(ngModel)]="htmlStringAdvanced"
                [imageUploader]="uploader"
                (save)="update()"
                [naturalCustomCss]="css"
                [disabled]="disabled"
            ></natural-editor>

            <div>
                <h1 class="mat-headline-4 margin-bottom">Preview</h1>
                <div [innerHTML]="htmlStringAdvanced" class="preview" [naturalCustomCss]="css">&nbsp;</div>
            </div>

            <div>
                <h1 class="mat-headline-4 margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringAdvanced }}</p>
            </div>
        </div>
    </div>
</div>
