<h1 class="mat-display-1">natural-file</h1>
<p class="mat-body">Open the console to see events</p>

<div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row wrap" fxLayoutGap="10px">
        <mat-checkbox [(ngModel)]="disabled">disabled</mat-checkbox>
    </div>

    <h2 class="mat-h2">Button</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <button
                mat-raised-button
                naturalFileSelect
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
            >
                Select one file
            </button>
        </div>

        <div>
            <button
                mat-raised-button
                naturalFileSelect
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
                [multiple]="true"
            >
                Select multiples files
            </button>
        </div>

        <div>
            <button
                mat-raised-button
                naturalFileSelect
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
                accept="image/jpeg"
            >
                Select one JPG
            </button>
        </div>

        <div>
            <button
                mat-raised-button
                naturalFileSelect
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
                [multiple]="true"
                accept="image/jpeg"
            >
                Select multiples JPG
            </button>
        </div>
    </div>

    <h2 class="mat-h2">Button that can also be drag'n'dropped on</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <div>
            <button
                mat-raised-button
                naturalFileDrop
                [selectable]="true"
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
            >
                Select one file
            </button>
        </div>

        <div>
            <button
                mat-raised-button
                naturalFileDrop
                [selectable]="true"
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
                [multiple]="true"
            >
                Select multiples files
            </button>
        </div>

        <div>
            <button
                mat-raised-button
                naturalFileDrop
                [selectable]="true"
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
                accept="image/jpeg"
            >
                Select one JPG
            </button>
        </div>

        <div>
            <button
                mat-raised-button
                naturalFileDrop
                [selectable]="true"
                (fileChange)="fileChange($event)"
                (filesChange)="filesChange($event)"
                [disabled]="disabled"
                [multiple]="true"
                accept="image/jpeg"
            >
                Select multiples JPG
            </button>
        </div>
    </div>

    <h2 class="mat-h2">Drag'n'drop on link</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <a
            naturalFileDrop
            (fileChange)="fileChange($event)"
            (filesChange)="filesChange($event)"
            [fileSelectionDisabled]="disabled"
            (fileOver)="fileOver = $event"
        >
            <div class="mat-body">Drag here any files</div>
            <pre>fileOver: {{ fileOver | json }}</pre>
        </a>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <a
            naturalFileDrop
            (fileChange)="fileChange($event)"
            (filesChange)="filesChange($event)"
            [fileSelectionDisabled]="disabled"
            (fileOver)="fileOverJpg = $event"
            accept="image/jpeg"
        >
            <div class="mat-body">Drag here only JPG</div>
            <pre>fileOver: {{ fileOverJpg | json }}</pre>
        </a>
    </div>

    <h2 class="mat-h2">Drag'n'drop on link that can also be clicked</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <a
            naturalFileDrop
            (fileChange)="fileChange($event)"
            (filesChange)="filesChange($event)"
            [fileSelectionDisabled]="disabled"
            (fileOver)="fileOverSelectable = $event"
            [selectable]="true"
        >
            <div class="mat-body">Drag here any files</div>
            <pre>fileOver: {{ fileOverSelectable | json }}</pre>
        </a>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <a
            naturalFileDrop
            (fileChange)="fileChange($event)"
            (filesChange)="filesChange($event)"
            [fileSelectionDisabled]="disabled"
            (fileOver)="fileOverSelectableJpg = $event"
            [selectable]="true"
            accept="image/jpeg"
        >
            <div class="mat-body">Drag here only JPG</div>
            <pre>fileOver: {{ fileOverSelectableJpg | json }}</pre>
        </a>
    </div>

    <h2 class="mat-h2">Size limit</h2>
    <div fxLayout="row" fxLayoutGap="10px">
        <a
            naturalFileDrop
            (fileChange)="fileChange($event)"
            (filesChange)="filesChange($event)"
            [fileSelectionDisabled]="disabled"
            (fileOver)="fileOverMaxSize = $event"
            [maxSize]="123"
        >
            <div class="mat-body">Drag here any files</div>
            <pre>fileOver: {{ fileOverMaxSize | json }}</pre>
        </a>
    </div>

    <h2 class="mat-h2">Drag'n'drop, relying on service</h2>

    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button (click)="subscribe()">Subscribe to service</button>
        <button mat-raised-button (click)="unsubscribe()">Unsubscribe to service</button>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <a naturalFileDrop [fileSelectionDisabled]="disabled" (fileOver)="fileOverService = $event">
            <div class="mat-body">Drag here any files. Hover is disabled if nobody subscribed to service</div>
            <pre>fileOver: {{ fileOverService | json }}</pre>
        </a>
    </div>
</div>
