<h2 mat-dialog-title>title</h2>
<mat-dialog-content class="mat-typography">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus, lectus sed facilisis viverra, turpis massa
    bibendum orci, porttitor aliquam sapien odio eget leo. Integer aliquet orci accumsan sapien sollicitudin eleifend.
    Etiam at tortor odio. Pellentesque aliquet sapien ac lacus rutrum accumsan. Donec rutrum placerat leo, vitae
    placerat augue tincidunt non. Sed non leo suscipit, euismod arcu eget, vestibulum purus. Nunc pretium, arcu et
    sodales vestibulum, massa tellus tincidunt tellus, ac aliquam lectus lectus nec lectus. Vivamus semper lacus at nibh
    auctor, quis vehicula metus accumsan. Fusce tristique, magna at vestibulum aliquet, dolor enim ornare lorem, eget
    vestibulum nisl massa a diam. Cras ut molestie ligula. Nam posuere nibh sed velit porta mattis. Sed nec justo eget
    nulla sodales egestas. Nulla facilisi.
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
