<h1 class="mat-display-1">NaturalAbstractList</h1>

<div *ngIf="dataSource" fxFlex fxLayout="column">

    <div fxLayout="column">
        <div class="mat-title no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">{{ routeData?.title }}</div>
    </div>

    <div fxLayout="column">

        <div class="margin-v" fxLayout="row" overflow>

            <natural-search (selectionChange)="search($event)"
                            [facets]="naturalSearchFacets"
                            [multipleGroups]="true"
                            [selections]="naturalSearchSelections"
                            fxFlex
            >

                <natural-columns-picker (selectionChange)="selectedColumns = $event" [initialSelection]="initialColumns">
                    <span naturalColumnsPickerColumn="id">id</span>
                    <span naturalColumnsPickerColumn="name">name</span>
                    <span naturalColumnsPickerColumn="tralala">tralala</span>
                </natural-columns-picker>
            </natural-search>

        </div>

        <div class="responsive-table">
            <table (matSortChange)="sorting($event)" [dataSource]="dataSource" mat-table matSort>

                <tr *matHeaderRowDef="selectedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: selectedColumns;" mat-row></tr>

                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef mat-header-cell natural-3em-column>id</th>
                    <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell>name</th>
                    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="tralala">
                    <th *matHeaderCellDef mat-header-cell natural-align-right>tralala</th>
                    <td *matCellDef="let element" mat-cell natural-align-right>{{ element.tralala }}</td>
                </ng-container>

            </table>
        </div>

        <div *ngIf="dataSource.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <div>Pas de résultats</div>
        </div>

        <div *ngIf="dataSource.data?.length === null" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-paginator (page)="pagination($event)"
                       [length]="dataSource.data?.length"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="pageSizeOptions"
                       [pageSize]="dataSource.data?.pageSize"
        ></mat-paginator>

    </div>

    <div fxLayout="row" fxLayoutGap="20px">
        <pre class="debug" style="overflow:auto">initialColumns : {{ initialColumns | json }}</pre>
        <pre class="debug" style="overflow:auto">selectedColumns : {{ selectedColumns | json }}</pre>
        <pre class="debug" fxFlex style="overflow:auto">variables : {{ variablesManager.variables.value | json }}</pre>
    </div>

</div>

