<div fxLayout="column" fxLayoutGap="80px">
    <h1 class="mat-headline-4">NaturalAbstractDetail</h1>
    <natural-detail-header
        newLabel="Very Very Very Very long title"
        label="title zone"
        [model]="{}"
        [listRoute]="['admin', 'product']"
    >
        <div fxLayout="row" fxLayoutGap="10px">
            <button mat-flat-button color="primary" routerLink="panel/123">Open panel</button>
            <button mat-flat-button color="primary" [routerLink]="['.']">Clear fragment</button>
            <button mat-flat-button color="primary" [routerLink]="['.']" fragment="asdasfd">Invalid fragment</button>
        </div>
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab>
        <mat-tab label="Tab 1" id="tab-1">
            <div [formGroup]="form" class="detail-body padding-top">
                <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start start">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" (change)="update()" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" (change)="update()" />
                    </mat-form-field>

                    <button (click)="data.model.id = '123'" color="primary" mat-raised-button
                        >Set ID to test delete button
                    </button>
                </div>

                <pre class="debug"><strong>form.enabled:</strong>{{ form.enabled | json }}</pre>
                <pre class="debug"><strong>form.valid:</strong>{{ form.valid | json }}</pre>
                <pre class="debug"><strong>form.value:</strong>{{ form.value | json }}</pre>
                <pre class="debug"><strong>form.errors:</strong>{{ collectErrors(form) | json }}</pre>

                <natural-fixed-button-detail
                    *ngIf="showFabButton"
                    [form]="form"
                    [model]="data.model"
                    (create)="create()"
                    (delete)="delete()"
                ></natural-fixed-button-detail>
            </div>
        </mat-tab>
        <mat-tab label="Tab 2" id="tab-2">Tab 2 content</mat-tab>
        <mat-tab label="Tab 3" id="tab-3">Tab 3 content</mat-tab>
    </mat-tab-group>

    <div>
        <h1 class="mat-h1">Second linkable tabs</h1>
        <mat-tab-group naturalLinkableTab>
            <mat-tab label="Tab d-2" id="tab-d-2">Tab d-2 content</mat-tab>
            <mat-tab label="Tab d-3" id="tab-d-3">Tab d-3 content</mat-tab>
        </mat-tab-group>
    </div>

    <div>
        <h1 class="mat-h1">Unlinkable tabs (ignored)</h1>
        <mat-tab-group>
            <mat-tab label="Tab b-2" id="tab-b-2">Tab b-2 content</mat-tab>
            <mat-tab label="Tab b-3" id="tab-b-3">Tab b-3 content</mat-tab>
        </mat-tab-group>
    </div>

    <div>
        <h1 class="mat-h1">Unlinkable tabs (set to false)</h1>
        <mat-tab-group [naturalLinkableTab]="false">
            <mat-tab label="Tab c-2" id="tab-c-2">Tab c-2 content</mat-tab>
            <mat-tab label="Tab c-3" id="tab-c-3">Tab c-3 content</mat-tab>
        </mat-tab-group>
    </div>

    <router-outlet></router-outlet>
</div>
