/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '../projects/natural/src/lib/natural.theme';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import 'app/home/home.theme';

@include mat-core();

// Include components themes
@mixin components-theme($theme) {
    @include natural($theme);
    @include home($theme);
}

$blue: (
        50: #EBF2FC,
        100: #C4DAF7,
        200: #9EC2F1,
        300: #77AAEC,
        400: #5092E7,
        500: #2A7AE2,
        600: #2364B9,
        700: #1B4E90,
        800: #143867,
        900: #0C223E,
        A100: #80d8ff,
        A200: #40c4ff,
        A400: #00b0ff,
        A700: #0091ea,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $light-primary-text,
        )
);

$purple: (
        50: #F3EBFB,
        100: #dcc4f5,
        200: #c59eef,
        300: #ae77e9,
        400: #9750e3,
        500: #812add,
        600: #6a23b5,
        700: #531b8d,
        800: #3b1465,
        900: #240c3d,
        A100: #b388ff,
        A200: #7c4dff,
        A400: #651fff,
        A700: #6200ea,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$pink: (
        50: #f8ebfc,
        100: #ebc4f7,
        200: #de9ef1,
        300: #d177ec,
        400: #c450e7,
        500: #b72ae2,
        600: #9623b9,
        700: #751b90,
        800: #541467,
        900: #320c3e,
        A100: #ea80fc,
        A200: #e040fb,
        A400: #d500f9,
        A700: #aa00ff,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$theme-primary: mat-palette($blue);
$theme-accent: mat-palette($pink);
$theme-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$dark-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

$baseColorLight: mat-color(map-get($light-theme, foreground), base);
$baseColorDark: mat-color(map-get($dark-theme, foreground), base);
$baseBgColorDark: mat-color(map-get($dark-theme, background), background);

@include angular-material-theme($light-theme);

.default {
    color: $baseColorLight;
    @include components-theme($light-theme);
}

.defaultDark {
    color: $baseColorDark;
    background: $baseBgColorDark;

    @include angular-material-theme($dark-theme);
    @include components-theme($dark-theme);
}


body {
    margin: 0;
}

html, body, app-root {
    height: 100%;
    min-height: 100%;
    font-size: 14px;
}

app-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[debug] {
    border: 2px solid red;
}

[debug][children] > * {
    border: 2px solid orange;
}

[debug][children][grandchildren] > * > * {
    border: 2px solid green;
}

.app-component > router-outlet + * {
    flex: 1;
    flex-direction: column;
}

[overflow] {
    overflow: auto;
}


#menu {
    .mat-expansion-panel {
        background: transparent;
    }

    * {
        color: white !important;
    }
}
