@use '~@angular/material' as mat;
@use 'sass:map';
@use '../projects/natural/src/lib/natural.theme';
@use '../projects/natural-editor/theming/natural-editor.theme';
@use 'app/home/home.theme';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();

// Include components themes
@mixin components-theme($theme) {
    @include natural.natural($theme);
    @include natural-editor.natural-editor($theme);
    @include home.home($theme);
}

$blue: (
    50: #ebf2fc,
    100: #c4daf7,
    200: #9ec2f1,
    300: #77aaec,
    400: #5092e7,
    500: #2a7ae2,
    600: #2364b9,
    700: #1b4e90,
    800: #143867,
    900: #0c223e,
    A100: #80d8ff,
    A200: #40c4ff,
    A400: #00b0ff,
    A700: #0091ea,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: white,
    ),
);

$purple: (
    50: #f3ebfb,
    100: #dcc4f5,
    200: #c59eef,
    300: #ae77e9,
    400: #9750e3,
    500: #812add,
    600: #6a23b5,
    700: #531b8d,
    800: #3b1465,
    900: #240c3d,
    A100: #b388ff,
    A200: #7c4dff,
    A400: #651fff,
    A700: #6200ea,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

$pink: (
    50: #f8ebfc,
    100: #ebc4f7,
    200: #de9ef1,
    300: #d177ec,
    400: #c450e7,
    500: #b72ae2,
    600: #9623b9,
    700: #751b90,
    800: #541467,
    900: #320c3e,
    A100: #ea80fc,
    A200: #e040fb,
    A400: #d500f9,
    A700: #aa00ff,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

$theme-primary: mat.define-palette($blue);
$theme-accent: mat.define-palette($pink);
$theme-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);
$dark-theme: mat.define-dark-theme($theme-primary, $theme-accent, $theme-warn);

$baseColorLight: mat.get-color-from-palette(map.get($light-theme, foreground), base);
$baseColorDark: mat.get-color-from-palette(map.get($dark-theme, foreground), base);
$baseBgColorDark: mat.get-color-from-palette(map.get($dark-theme, background), background);

@include mat.all-component-themes($light-theme);

.default {
    color: $baseColorLight;
    @include components-theme($light-theme);
}

.defaultDark {
    color: $baseColorDark;
    background: $baseBgColorDark;

    @include mat.all-component-themes($dark-theme);
    @include components-theme($dark-theme);
}

body {
    margin: 0;
}

html,
body,
app-root {
    height: 100%;
    min-height: 100%;
    font-size: 14px;
}

app-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/**
 * Debug
 */
p.debug,
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[debug] {
    border: 2px solid red;
}

[debug][children] > * {
    border: 2px solid orange;
}

[debug][children][grandchildren] > * > * {
    border: 2px solid green;
}

.app-component > router-outlet + * {
    flex: 1;
    flex-direction: column;
}

[overflow] {
    overflow: auto;
}

#menu {
    .mat-expansion-panel {
        background: transparent;
    }

    * {
        color: white !important;
    }
}
