<h1 class="mat-display-1">natural-search</h1>

<div fxLayout="column" fxLayoutGap="20px">
    <natural-search
        (selectionChange)="updateFilter($event); selectionsDone = $event"
        [facets]="facets"
        [multipleGroups]="true"
        [selections]="selections"
    >
        <button color="primary" mat-raised-button>extern.</button>
    </natural-search>

    <div fxLayout="row" fxLayoutGap="20px">
        <button (click)="facets = facets1" color="primary" mat-raised-button>Config 1</button>
        <button (click)="facets = facets2" color="primary" mat-raised-button>Config 2</button>
        <button (click)="facets = null" color="primary" mat-raised-button>No config</button>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
        <pre
            class="debug"
            fxFlex
            style="overflow: auto;"
        ><strong>Selections input: </strong>{{ selections | json }}</pre>
        <pre
            class="debug"
            fxFlex
            style="overflow: auto;"
        ><strong>Selections output: </strong>{{ selectionsDone | json }}</pre>
        <pre
            class="debug"
            fxFlex
            style="overflow: auto;"
        ><strong>GraphQL selections: </strong>{{ graphqlSelections | json }}</pre>
    </div>

    <!-- @off -->
    <pre class="debug" style="overflow: auto;"><strong>JSON serialized length: </strong>

    Selections:
        {{ stringify(selections)?.length }}
        {{ stringify(selections) }}

    GraphQL selections:
        {{ stringify(graphqlSelections)?.length }}
        {{ stringify(graphqlSelections) }}


    Compressed selections:
        {{ toUrl(selections)?.length }}
        {{ toUrl(selections) }}
    </pre>

    <!-- @on -->
</div>
