@use '~@angular/material' as mat;
@mixin home($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    app-home {
        .mat-toolbar {
            background: #212121;
            color: #fff;
        }

        #menu {
            border-radius: 4px;
            background: mat.get-color-from-palette($primary);
            background: -moz-linear-gradient(
                bottom,
                mat.get-color-from-palette($primary) 50%,
                mat.get-color-from-palette($accent) 150%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
                bottom,
                mat.get-color-from-palette($primary) 50%,
                mat.get-color-from-palette($accent) 150%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to bottom,
                mat.get-color-from-palette($primary) 50%,
                mat.get-color-from-palette($accent) 150%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
}
