<div fxFlex fxLayout="column">
    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <button (click)="menu.toggle()" *ngIf="menu" mat-icon-button>
            <natural-icon name="menu"></natural-icon>
        </button>

        <a href="/" mat-button>
            <img height="40px" src="assets/logo.svg" />
            <span class="mat-headline-6">@ecodev/natural</span>
        </a>

        <div fxFlex></div>

        <button (click)="themeService.toggle()" mat-icon-button>
            <natural-icon name="invert_colors"></natural-icon>
        </button>

        <a href="https://github.com/ecodev/natural" mat-icon-button>
            <img src="assets/github.svg" style="height: 24px" />
        </a>
    </mat-toolbar>

    <div fxFlex fxLayout="column">
        <natural-sidenav-container #menu [noScroll]="true" fxFlex name="menu">
            <natural-sidenav>
                <div style="overflow-x: auto; margin: 20px">
                    <div id="menu">
                        <mat-accordion displayMode="flat">
                            <mat-expansion-panel [disabled]="true" [expanded]="true" class="mat-elevation-z0">
                                <mat-nav-list>
                                    <a mat-list-item routerLink="/">
                                        <natural-icon matListItemIcon name="home"></natural-icon>
                                        <span>Home</span>
                                    </a>

                                    <a mat-list-item routerLink="/search">
                                        <natural-icon matListItemIcon name="search"></natural-icon>
                                        <span>Search</span>
                                    </a>

                                    <a [routerLink]="['/list', {dog: 'qwer'}]" mat-list-item>
                                        <natural-icon matListItemIcon name="list"></natural-icon>
                                        <span>List A</span>
                                    </a>

                                    <a
                                        [routerLink]="['/nested/anyValue', {cat: 'cat'}, 'list', {dog: 'dog'}]"
                                        mat-list-item
                                    >
                                        <natural-icon matListItemIcon name="list"></natural-icon>
                                        <span>List B</span>
                                    </a>

                                    <a [routerLink]="['/editable-list']" mat-list-item>
                                        <natural-icon matListItemIcon name="list"></natural-icon>
                                        <span>Editable list</span>
                                    </a>

                                    <a [routerLink]="['/navigable-list']" mat-list-item>
                                        <natural-icon matListItemIcon name="subdirectory_arrow_right"></natural-icon>
                                        <span>Navigable list</span>
                                    </a>

                                    <a [routerLink]="['/detail/123']" mat-list-item>
                                        <natural-icon matListItemIcon name="details"></natural-icon>
                                        <span>Detail</span>
                                    </a>

                                    <a [routerLink]="['/detail-header']" mat-list-item>
                                        <natural-icon matListItemIcon name="title"></natural-icon>
                                        <span>Detail header</span>
                                    </a>

                                    <a mat-list-item routerLink="/select">
                                        <natural-icon matListItemIcon name="check"></natural-icon>
                                        <span>Select</span>
                                    </a>

                                    <a mat-list-item routerLink="/select-hierarchic">
                                        <natural-icon matListItemIcon name="check"></natural-icon>
                                        <span>Select hierarchic</span>
                                    </a>

                                    <a mat-list-item routerLink="/select-enum">
                                        <natural-icon matListItemIcon name="check"></natural-icon>
                                        <span>Select Enum</span>
                                    </a>

                                    <a mat-list-item routerLink="/relation">
                                        <natural-icon matListItemIcon name="device_hub"></natural-icon>
                                        <span>Relation</span>
                                    </a>

                                    <a mat-list-item routerLink="/hierarchic">
                                        <natural-icon matListItemIcon name="account_tree"></natural-icon>
                                        <span>Hiérarchic</span>
                                    </a>

                                    <a mat-list-item routerLink="/panels">
                                        <natural-icon matListItemIcon name="filter_none"></natural-icon>
                                        <span>Panels</span>
                                    </a>

                                    <a mat-list-item routerLink="/file">
                                        <natural-icon matListItemIcon name="file_upload"></natural-icon>
                                        <span>File</span>
                                    </a>

                                    <a mat-list-item routerLink="/alert-service">
                                        <natural-icon matListItemIcon name="error"></natural-icon>
                                        <span>Alert service</span>
                                    </a>

                                    <a mat-list-item routerLink="/avatar">
                                        <natural-icon matListItemIcon name="face"></natural-icon>
                                        <span>Avatar</span>
                                    </a>

                                    <a mat-list-item routerLink="/editor">
                                        <natural-icon matListItemIcon name="format_size"></natural-icon>
                                        <span>Editor</span>
                                    </a>

                                    <a mat-list-item routerLink="/other">
                                        <natural-icon matListItemIcon name="build"></natural-icon>
                                        <span>Other tools</span>
                                    </a>

                                    <a (click)="menu.toggleMinimized()" *ngIf="!menu.isMobileView" mat-list-item>
                                        <natural-icon
                                            [name]="menu.isMinimized ? 'keyboard_arrow_right' : 'keyboard_arrow_left'"
                                            matListItemIcon
                                        ></natural-icon>
                                    </a>
                                </mat-nav-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </natural-sidenav>

            <natural-sidenav-content>
                <div fxFlex fxLayout="column" style="padding: 20px; overflow: auto">
                    <router-outlet></router-outlet>
                </div>
            </natural-sidenav-content>
        </natural-sidenav-container>
    </div>
</div>
