<div fxFlex fxLayout="column">

    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

        <button (click)="menu.toggle()" *ngIf="menu" mat-icon-button>
            <natural-icon name="menu"></natural-icon>
        </button>

        <a href="/" mat-button>
            <img height="40px" src="assets/logo.svg">
            <span class="mat-title">@ecodev/natural</span>
        </a>

        <div fxFlex></div>

        <button (click)="themeService.toggle()" mat-icon-button>
            <natural-icon name="invert_colors"></natural-icon>
        </button>

        <a href="https://github.com/ecodev/natural" mat-icon-button>
            <img src="assets/github.svg" style="height:24px;">
        </a>

    </mat-toolbar>

    <div fxFlex fxLayout="column">

        <natural-sidenav-container #menu [noScroll]="true" fxFlex name="menu">
            <natural-sidenav>
                <div style="overflow-x:auto; margin:20px">
                    <div id="menu">
                        <mat-accordion displayMode="flat">
                            <mat-expansion-panel [disabled]="true" [expanded]="true" class="mat-elevation-z0">
                                <mat-nav-list>

                                    <a mat-list-item routerLink="/">
                                        <mat-icon mat-list-icon>home</mat-icon>
                                        <span matLine>Home</span>
                                    </a>

                                    <a mat-list-item routerLink="/search">
                                        <natural-icon mat-list-icon name="search"></natural-icon>
                                        <span matLine>Search</span>
                                    </a>

                                    <a [routerLink]="['/list', {dog: 'qwer'}]" mat-list-item>
                                        <natural-icon mat-list-icon name="list"></natural-icon>
                                        <span matLine>List A</span>
                                    </a>

                                    <a [routerLink]="['/nested/listParamValue', {cat: 'cat'},'list', {dog: 'dog'}]" mat-list-item>
                                        <natural-icon mat-list-icon name="list"></natural-icon>
                                        <span matLine>List B</span>
                                    </a>

                                    <a [routerLink]="['/editable-list']" mat-list-item>
                                        <natural-icon mat-list-icon name="list"></natural-icon>
                                        <span matLine>Editable list</span>
                                    </a>

                                    <a [routerLink]="['/navigable-list']" mat-list-item>
                                        <natural-icon mat-list-icon name="subdirectory_arrow_right"></natural-icon>
                                        <span matLine>Navigable list</span>
                                    </a>

                                    <a [routerLink]="['/detail']" mat-list-item>
                                        <natural-icon mat-list-icon name="details"></natural-icon>
                                        <span matLine>Detail</span>
                                    </a>

                                    <a mat-list-item routerLink="/select">
                                        <natural-icon mat-list-icon name="check"></natural-icon>
                                        <span matLine>Select</span>
                                    </a>

                                    <a mat-list-item routerLink="/relation">
                                        <natural-icon mat-list-icon name="device_hub"></natural-icon>
                                        <span matLine>Relation</span>
                                    </a>

                                    <a mat-list-item routerLink="/hierarchic">
                                        <natural-icon mat-list-icon name="account_tree"></natural-icon>
                                        <span matLine>Hiérarchic</span>
                                    </a>

                                    <a mat-list-item routerLink="/panels">
                                        <natural-icon mat-list-icon name="filter_none"></natural-icon>
                                        <span matLine>Panels</span>
                                    </a>

                                    <a mat-list-item routerLink="/alert-service">
                                        <natural-icon mat-list-icon name="error"></natural-icon>
                                        <span matLine>Alert service</span>
                                    </a>

                                    <a (click)="menu.toggleMinimized()" *ngIf="!menu.isMobileView" mat-list-item>
                                        <natural-icon [name]="menu.isMinimized ? 'keyboard_arrow_right' : 'keyboard_arrow_left'"
                                                      mat-list-icon
                                        ></natural-icon>
                                    </a>

                                </mat-nav-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </natural-sidenav>

            <natural-sidenav-content>
                <div fxFlex fxLayout="column" style="padding:20px; overflow:auto;">
                    <router-outlet></router-outlet>
                </div>
            </natural-sidenav-content>
        </natural-sidenav-container>

    </div>
</div>
