<div fxFlex fxLayout="column">

    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

        <button mat-icon-button *ngIf="menu" (click)="menu.toggle()">
            <natural-icon name="menu"></natural-icon>
        </button>

        <a href="/" mat-button>
            <img src="assets/logo.svg" height="40px">
            <span class="mat-title">@ecodev/natural</span>
        </a>

        <div fxFlex></div>

        <button mat-icon-button (click)="themeService.toggle()">
            <natural-icon name="invert_colors"></natural-icon>
        </button>

        <a mat-icon-button href="https://github.com/ecodev/natural">
            <img src="assets/github.svg" style="height:24px;">
        </a>

    </mat-toolbar>

    <div fxFlex fxLayout="column">

        <natural-sidenav-container name="menu" #menu [noScroll]="true" fxFlex>
            <natural-sidenav>
                <div style="overflow-x:auto; margin:20px">
                    <div id="menu">
                        <mat-accordion displayMode="flat">
                            <mat-expansion-panel class="mat-elevation-z0" [expanded]="true" [disabled]="true">
                                <mat-nav-list>
                                    <a mat-list-item routerLink="/">
                                        <mat-icon mat-list-icon>home</mat-icon>
                                        <span matLine>Home</span>
                                    </a>
                                    <a mat-list-item routerLink="/search">
                                        <natural-icon name="search" mat-list-icon></natural-icon>
                                        <span matLine>Search</span>
                                    </a>

                                    <a mat-list-item *ngIf="!menu.isMobileView" (click)="menu.toggleMinimized()">
                                        <natural-icon [name]="menu.isMinimized ? 'keyboard_arrow_right' : 'keyboard_arrow_left'"
                                                      mat-list-icon
                                        ></natural-icon>
                                    </a>
                                </mat-nav-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </natural-sidenav>

            <natural-sidenav-content>
                <div fxFlex fxLayout="column" style="padding:20px; overflow:auto;">
                    <router-outlet></router-outlet>
                </div>
            </natural-sidenav-content>
        </natural-sidenav-container>

    </div>
</div>
